.die-face {
  height: 50px;
  width: 50px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  justify-content: center;
  display: table-cell;
}

.dice-display-table {
  height: 100px;
  min-width: 240px;
  max-width: 330px;
  width: 90%;
  border-style: solid;
  border-color: #838181;
  padding: 10px;
  display:table;
  border-collapse:separate;
  border-spacing:5px;
}

.roll-mode-description {
  height: 100px;
  min-width: 240px;
  max-width: 330px;
  width: 90%;
  padding: 0px;
}

.die-face-row {
  display: table-row;
}

.die-x-row {
  display: table-row;
}


.die-x {
  color: red;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  justify-content: center;
  display: table-cell;
}

input {
  width: 60px;
  margin: 4px 0;
}

input[type=number] {
  width: 53px;
  margin: 4px 0;
}

button {
  width: 115px;
  margin-left: 0px;
  margin-right: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.histogram {
  min-width: 240px;
  max-width: 330px;
}

.data-bar {
  height: 12px;
  background-color: #000;
  color: #fff;
  min-width: 2px;
  font-size: 10px;
  border-style: solid;
  border-color: #838181;
  border-width: 1px;
}
